Repository ROCm/hipTensor, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cgmillette, @bragadeesh, @mkarunan, @dlangbe, @congma13, @afanfa, @saadrahim, @LisaDelaney

Allow duplicate headers - for changelog
  .markdownlint-cli2.yaml
Owners: @cgmillette, @bragadeesh, @mkarunan, @dlangbe, @congma13, @afanfa

Allow duplicate headers - for changelog
  .markdownlint-cli2.yaml
Owners: @cgmillette, @bragadeesh, @mkarunan, @dlangbe, @congma13, @afanfa

Allow longer lines for tables and bash commands
  .markdownlint-cli2.yaml
  README.md
Owners: @cgmillette, @bragadeesh, @mkarunan, @dlangbe, @congma13, @afanfa, @saadrahim, @LisaDelaney

Allow longer lines for tables and bash commands
  .markdownlint-cli2.yaml
  README.md
Owners: @cgmillette, @bragadeesh, @mkarunan, @dlangbe, @congma13, @afanfa, @saadrahim, @LisaDelaney

Disable rule for two part list in README
  README.md
Owners: @saadrahim, @LisaDelaney

Disable rule for two part list in README
  README.md
Owners: @saadrahim, @LisaDelaney

Add CPU implementation of elementwise permutation
  library/src/permutation/permutation_cpu_reference.hpp
  library/src/permutation/permutation_cpu_reference_impl.hpp
  samples/01_contraction/simple_bilinear_contraction_f32.cpp
  samples/01_contraction/simple_scale_contraction_f32.cpp
  samples/02_permutation/CMakeLists.txt
  samples/02_permutation/permutation.cpp
  samples/CMakeLists.txt
  samples/common.hpp
Owners: @cgmillette, @bragadeesh, @mkarunan, @dlangbe, @congma13, @afanfa

Add CPU implementation of elementwise permutation
  library/src/permutation/permutation_cpu_reference.hpp
  library/src/permutation/permutation_cpu_reference_impl.hpp
  samples/01_contraction/simple_bilinear_contraction_f32.cpp
  samples/01_contraction/simple_scale_contraction_f32.cpp
  samples/02_permutation/CMakeLists.txt
  samples/02_permutation/permutation.cpp
  samples/CMakeLists.txt
  samples/common.hpp
Owners: @cgmillette, @bragadeesh, @mkarunan, @dlangbe, @congma13, @afanfa

Add CPU implementation of elementwise permutation
  library/src/permutation/permutation_cpu_reference.hpp
  library/src/permutation/permutation_cpu_reference_impl.hpp
  samples/01_contraction/simple_bilinear_contraction_f32.cpp
  samples/01_contraction/simple_scale_contraction_f32.cpp
  samples/02_permutation/CMakeLists.txt
  samples/02_permutation/permutation.cpp
  samples/CMakeLists.txt
  samples/common.hpp
Owners: @cgmillette, @bragadeesh, @mkarunan, @dlangbe, @congma13, @afanfa

Move files used by all tests out of 01_contraction
  test/01_contraction/contraction_test.cpp
  test/01_contraction/contraction_test_params.hpp
  test/device/common.hpp
  test/hiptensor_gtest_main.cpp
  test/utils.hpp
Owners: @cgmillette, @bragadeesh, @mkarunan, @dlangbe, @congma13, @afanfa

Move files used by all tests out of 01_contraction
  test/01_contraction/contraction_test.cpp
  test/01_contraction/contraction_test_params.hpp
  test/device/common.hpp
  test/hiptensor_gtest_main.cpp
  test/utils.hpp
Owners: @cgmillette, @bragadeesh, @mkarunan, @dlangbe, @congma13, @afanfa

use split CK libraries
  library/src/CMakeLists.txt
  library/src/contraction/CMakeLists.txt
  library/src/permutation/CMakeLists.txt
  samples/CMakeLists.txt
Owners: @cgmillette, @bragadeesh, @mkarunan, @dlangbe, @congma13, @afanfa

use split CK libraries
  library/src/CMakeLists.txt
  library/src/contraction/CMakeLists.txt
  library/src/permutation/CMakeLists.txt
  samples/CMakeLists.txt
Owners: @cgmillette, @bragadeesh, @mkarunan, @dlangbe, @congma13, @afanfa

add the other library to contraction tests
  library/src/contraction/CMakeLists.txt
Owners: @cgmillette, @bragadeesh, @mkarunan, @dlangbe, @congma13, @afanfa

add the other library to contraction tests
  library/src/contraction/CMakeLists.txt
Owners: @cgmillette, @bragadeesh, @mkarunan, @dlangbe, @congma13, @afanfa

Implement permutation with CK
  .gitignore
  library/include/hiptensor/internal/hiptensor_utility.hpp
  library/src/hiptensor.cpp
  library/src/permutation/hiptensor_permutation.cpp
  library/src/permutation/permutation_ck_col.hpp
  library/src/permutation/permutation_ck_col_impl.hpp
  library/src/permutation/permutation_cpu_reference_impl.hpp
  test/01_contraction/contraction_test.cpp
  test/02_permutation/CMakeLists.txt
  test/02_permutation/configs/test_params.yaml
  test/02_permutation/permutation_column_major_test.cpp
  test/02_permutation/permutation_resource.cpp
  test/02_permutation/permutation_resource.hpp
  test/02_permutation/permutation_test.cpp
  test/02_permutation/permutation_test.hpp
  test/02_permutation/permutation_test_helpers.hpp
  test/02_permutation/permutation_test_params.hpp
  test/CMakeLists.txt
  test/device/common.hpp
  test/llvm/CMakeLists.txt
  test/llvm/yaml_parser_config.cpp
  test/utils.hpp
Owners: @cgmillette, @bragadeesh, @mkarunan, @dlangbe, @congma13, @afanfa

Implement permutation with CK
  .gitignore
  library/include/hiptensor/internal/hiptensor_utility.hpp
  library/src/hiptensor.cpp
  library/src/permutation/hiptensor_permutation.cpp
  library/src/permutation/permutation_ck_col.hpp
  library/src/permutation/permutation_ck_col_impl.hpp
  library/src/permutation/permutation_cpu_reference_impl.hpp
  test/01_contraction/contraction_test.cpp
  test/02_permutation/CMakeLists.txt
  test/02_permutation/configs/test_params.yaml
  test/02_permutation/permutation_column_major_test.cpp
  test/02_permutation/permutation_resource.cpp
  test/02_permutation/permutation_resource.hpp
  test/02_permutation/permutation_test.cpp
  test/02_permutation/permutation_test.hpp
  test/02_permutation/permutation_test_helpers.hpp
  test/02_permutation/permutation_test_params.hpp
  test/CMakeLists.txt
  test/device/common.hpp
  test/llvm/CMakeLists.txt
  test/llvm/yaml_parser_config.cpp
  test/utils.hpp
Owners: @cgmillette, @bragadeesh, @mkarunan, @dlangbe, @congma13, @afanfa

update
  docs/.sphinx/requirements.txt
Owners: @cgmillette, @bragadeesh, @mkarunan, @dlangbe, @congma13, @afanfa

Support both row_major and col_major data layout
  CMakeLists.txt
  library/src/contraction/hiptensor_contraction.cpp
  library/src/permutation/hiptensor_permutation.cpp
  library/src/permutation/permutation_ck.hpp
  library/src/permutation/permutation_ck_impl.hpp
  library/src/permutation/permutation_cpu_reference_impl.hpp
  samples/02_permutation/permutation.cpp
Owners: @cgmillette, @bragadeesh, @mkarunan, @dlangbe, @congma13, @afanfa

Support both row_major and col_major data layout
  CMakeLists.txt
  library/src/contraction/hiptensor_contraction.cpp
  library/src/permutation/hiptensor_permutation.cpp
  library/src/permutation/permutation_ck.hpp
  library/src/permutation/permutation_ck_impl.hpp
  library/src/permutation/permutation_cpu_reference_impl.hpp
  samples/02_permutation/permutation.cpp
Owners: @cgmillette, @bragadeesh, @mkarunan, @dlangbe, @congma13, @afanfa

Add type related files
  library/include/hiptensor/internal/hiptensor_utility.hpp
  library/src/CMakeLists.txt
  library/src/contraction/contraction_meta_traits.hpp
  library/src/contraction/contraction_solution_params_impl.hpp
  library/src/contraction/contraction_solution_registry.hpp
  library/src/data_types.cpp
  library/src/hiptensor.cpp
  library/src/include/config.hpp
  library/src/include/data_types.hpp
  library/src/include/data_types_impl.hpp
  library/src/include/native_types.hpp
  library/src/include/native_types_impl.hpp
  library/src/include/type_traits.hpp
  library/src/include/types_ext.hpp
  library/src/include/xfloat32.hpp
  library/src/permutation/permutation_ck_impl.hpp
  library/src/permutation/permutation_cpu_reference_impl.hpp
  test/01_contraction/contraction_test.cpp
  test/02_permutation/permutation_resource.cpp
  test/02_permutation/permutation_test.cpp
  test/utils.hpp
Owners: @cgmillette, @bragadeesh, @mkarunan, @dlangbe, @congma13, @afanfa

Enable contraction for complex types
  library/include/hiptensor/internal/hiptensor_utility.hpp
  library/src/contraction/contraction_cpu_reference_impl.hpp
  library/src/contraction/contraction_cpu_reference_instances.cpp
  library/src/hiptensor.cpp
  library/src/include/types.hpp
  library/src/include/types_impl.hpp
  library/src/types.cpp
  test/00_unit/yaml_test.cpp
  test/01_contraction/configs/bilinear_test_params.yaml
  test/01_contraction/configs/scale_test_params.yaml
  test/01_contraction/contraction_test.cpp
  test/01_contraction/device/common.hpp
  test/llvm/yaml_parser_contraction_config.cpp
Owners: @cgmillette, @bragadeesh, @mkarunan, @dlangbe, @congma13, @afanfa

Add type related files
  library/include/hiptensor/internal/hiptensor_utility.hpp
  library/src/CMakeLists.txt
  library/src/contraction/contraction_meta_traits.hpp
  library/src/contraction/contraction_solution_params_impl.hpp
  library/src/contraction/contraction_solution_registry.hpp
  library/src/data_types.cpp
  library/src/hiptensor.cpp
  library/src/include/config.hpp
  library/src/include/data_types.hpp
  library/src/include/data_types_impl.hpp
  library/src/include/native_types.hpp
  library/src/include/native_types_impl.hpp
  library/src/include/type_traits.hpp
  library/src/include/types_ext.hpp
  library/src/include/xfloat32.hpp
  library/src/permutation/permutation_ck_impl.hpp
  library/src/permutation/permutation_cpu_reference_impl.hpp
  test/01_contraction/contraction_test.cpp
  test/02_permutation/permutation_resource.cpp
  test/02_permutation/permutation_test.cpp
  test/utils.hpp
Owners: @cgmillette, @bragadeesh, @mkarunan, @dlangbe, @congma13, @afanfa

Add type related files
  library/include/hiptensor/internal/hiptensor_utility.hpp
  library/src/CMakeLists.txt
  library/src/contraction/contraction_meta_traits.hpp
  library/src/contraction/contraction_solution_params_impl.hpp
  library/src/contraction/contraction_solution_registry.hpp
  library/src/data_types.cpp
  library/src/hiptensor.cpp
  library/src/include/config.hpp
  library/src/include/data_types.hpp
  library/src/include/data_types_impl.hpp
  library/src/include/native_types.hpp
  library/src/include/native_types_impl.hpp
  library/src/include/type_traits.hpp
  library/src/include/types_ext.hpp
  library/src/include/xfloat32.hpp
  library/src/permutation/permutation_ck_impl.hpp
  library/src/permutation/permutation_cpu_reference_impl.hpp
  test/01_contraction/contraction_test.cpp
  test/02_permutation/permutation_resource.cpp
  test/02_permutation/permutation_test.cpp
  test/utils.hpp
Owners: @cgmillette, @bragadeesh, @mkarunan, @dlangbe, @congma13, @afanfa

Evaluate outputs for complex types
  library/src/contraction/contraction_cpu_reference_impl.hpp
  library/src/contraction/contraction_solution_impl.hpp
Owners: @cgmillette, @bragadeesh, @mkarunan, @dlangbe, @congma13, @afanfa

Add samples - cpu contraction for complex types
  samples/01_contraction/CMakeLists.txt
  samples/01_contraction/simple_scale_contraction_doubleComplex_cpu.cpp
  samples/01_contraction/simple_scale_contraction_floatComplex_cpu.cpp
Owners: @cgmillette, @bragadeesh, @mkarunan, @dlangbe, @congma13, @afanfa

Propagate fixes
  samples/01_contraction/simple_scale_contraction_doubleComplex_cpu.cpp
  samples/01_contraction/simple_scale_contraction_floatComplex_cpu.cpp
Owners: @cgmillette, @bragadeesh, @mkarunan, @dlangbe, @congma13, @afanfa

Remove complex type in yaml
  test/01_contraction/configs/bilinear_test_params.yaml
  test/01_contraction/configs/scale_test_params.yaml
Owners: @cgmillette, @bragadeesh, @mkarunan, @dlangbe, @congma13, @afanfa

Address comments
  library/include/hiptensor/internal/hiptensor_utility.hpp
  library/src/hiptensor.cpp
Owners: @cgmillette, @bragadeesh, @mkarunan, @dlangbe, @congma13, @afanfa

Fix
  library/src/hiptensor.cpp
Owners: @cgmillette, @bragadeesh, @mkarunan, @dlangbe, @congma13, @afanfa

Fix spelling in documentation
  docs/API_Reference_Guide.rst
  docs/Contributors_Guide.rst
  docs/Linux_Install_Guide.rst
  docs/Programmers_Guide.rst
  docs/index.rst
Owners: @saadrahim, @LisaDelaney

Use code directive to escape code keywords
  docs/API_Reference_Guide.rst
  docs/Linux_Install_Guide.rst
Owners: @saadrahim, @LisaDelaney

Modify contraction solution impl for complex type
  library/src/contraction/contraction_cpu_reference_impl.hpp
  library/src/contraction/contraction_solution.cpp
  library/src/contraction/contraction_solution.hpp
  library/src/contraction/contraction_solution_impl.hpp
Owners: @cgmillette, @bragadeesh, @mkarunan, @dlangbe, @congma13, @afanfa

Revert "Use code directive to escape code keywords"
  docs/API_Reference_Guide.rst
  docs/Linux_Install_Guide.rst
Owners: @saadrahim, @LisaDelaney

Disable spellcheck on API Reference Guide
  docs/API_Reference_Guide.rst
  docs/Linux_Install_Guide.rst
Owners: @saadrahim, @LisaDelaney

Fix spelling in API Reference Guide
  docs/API_Reference_Guide.rst
Owners: @saadrahim, @LisaDelaney

Add Pack and Unpack methods for data processing
  library/src/contraction/contraction_pack_util.hpp
  library/src/contraction/contraction_solution.hpp
  library/src/contraction/contraction_solution_impl.hpp
Owners: @cgmillette, @bragadeesh, @mkarunan, @dlangbe, @congma13, @afanfa

Move parameters to base class
  library/src/contraction/contraction_solution.cpp
  library/src/contraction/contraction_solution.hpp
  library/src/contraction/contraction_solution_impl.hpp
Owners: @cgmillette, @bragadeesh, @mkarunan, @dlangbe, @congma13, @afanfa

Fix bug
  library/src/contraction/contraction_solution_impl.hpp
Owners: @cgmillette, @bragadeesh, @mkarunan, @dlangbe, @congma13, @afanfa

Rename sample of permutation
  samples/02_permutation/CMakeLists.txt
Owners: @cgmillette, @bragadeesh, @mkarunan, @dlangbe, @congma13, @afanfa

.github/CODEOWNERS:

* @cgmillette @bragadeesh @mkarunan @dlangbe @congma13 @afanfa
# Documentation files
docs/* @saadrahim @LisaDelaney
*.md  @saadrahim @LisaDelaney
*.rst  @saadrahim @LisaDelaney
# Header directory
library/include/*  @saadrahim @LisaDelaney
