Repository ROCm/hipTensor, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cgmillette, @bragadeesh, @mkarunan, @dlangbe, @congma13, @afanfa, @saadrahim, @LisaDelaney

Add targets gfx941 and gfx942
  CMakeLists.txt
  README.md
  library/src/hip_device.cpp
  library/src/include/hip_device.hpp
  samples/01_contraction/common.hpp
  test/01_contraction/common.hpp
Owners: @cgmillette, @bragadeesh, @mkarunan, @dlangbe, @congma13, @afanfa, @saadrahim, @LisaDelaney

Add targets gfx941 and gfx942
  CMakeLists.txt
  README.md
  library/src/hip_device.cpp
  library/src/include/hip_device.hpp
  samples/01_contraction/common.hpp
  test/01_contraction/common.hpp
Owners: @cgmillette, @bragadeesh, @mkarunan, @dlangbe, @congma13, @afanfa, @saadrahim, @LisaDelaney

Update docs
  docs/Linux_Install_Guide.rst
Owners: @saadrahim, @LisaDelaney

Update docs
  docs/Linux_Install_Guide.rst
Owners: @saadrahim, @LisaDelaney

Combined datatypes across contraction tests
  library/include/hiptensor/hiptensor_types.hpp
  library/src/include/types.hpp
  library/src/types.cpp
  test/00_unit/yaml_test.cpp
  test/01_contraction/CMakeLists.txt
  test/01_contraction/bilinear_contraction_test.cpp
  test/01_contraction/configs/bilinear_f32_test_params.yaml
  test/01_contraction/configs/bilinear_test_params.yaml
  test/01_contraction/configs/scale_f64_test_params.yaml
  test/01_contraction/configs/scale_test_params.yaml
  test/01_contraction/contraction_test.cpp
  test/01_contraction/contraction_test.hpp
  test/01_contraction/contraction_test_helpers.hpp
  test/01_contraction/contraction_test_params.hpp
  test/01_contraction/scale_contraction_f32_test.cpp
  test/01_contraction/scale_contraction_f64_test.cpp
  test/01_contraction/scale_contraction_test.cpp
  test/llvm/yaml_parser_contraction_config.cpp
Owners: @cgmillette, @bragadeesh, @mkarunan, @dlangbe, @congma13, @afanfa

Combined datatypes across contraction tests
  library/include/hiptensor/hiptensor_types.hpp
  library/src/include/types.hpp
  library/src/types.cpp
  test/00_unit/yaml_test.cpp
  test/01_contraction/CMakeLists.txt
  test/01_contraction/bilinear_contraction_test.cpp
  test/01_contraction/configs/bilinear_f32_test_params.yaml
  test/01_contraction/configs/bilinear_test_params.yaml
  test/01_contraction/configs/scale_f64_test_params.yaml
  test/01_contraction/configs/scale_test_params.yaml
  test/01_contraction/contraction_test.cpp
  test/01_contraction/contraction_test.hpp
  test/01_contraction/contraction_test_helpers.hpp
  test/01_contraction/contraction_test_params.hpp
  test/01_contraction/scale_contraction_f32_test.cpp
  test/01_contraction/scale_contraction_f64_test.cpp
  test/01_contraction/scale_contraction_test.cpp
  test/llvm/yaml_parser_contraction_config.cpp
Owners: @cgmillette, @bragadeesh, @mkarunan, @dlangbe, @congma13, @afanfa

Fixed device reallocation
  test/01_contraction/contraction_resource.cpp
  test/01_contraction/contraction_resource.hpp
  test/01_contraction/contraction_test.cpp
  test/llvm/hiptensor_options.cpp
  test/llvm/hiptensor_options.hpp
  test/llvm/yaml_parser_contraction_config.cpp
Owners: @cgmillette, @bragadeesh, @mkarunan, @dlangbe, @congma13, @afanfa

Fixed device reallocation
  test/01_contraction/contraction_resource.cpp
  test/01_contraction/contraction_resource.hpp
  test/01_contraction/contraction_test.cpp
  test/llvm/hiptensor_options.cpp
  test/llvm/hiptensor_options.hpp
  test/llvm/yaml_parser_contraction_config.cpp
Owners: @cgmillette, @bragadeesh, @mkarunan, @dlangbe, @congma13, @afanfa

yaml_test saves test data into a temp file
  test/00_unit/yaml_test.cpp
Owners: @cgmillette, @bragadeesh, @mkarunan, @dlangbe, @congma13, @afanfa

yaml_test saves test data into a temp file
  test/00_unit/yaml_test.cpp
Owners: @cgmillette, @bragadeesh, @mkarunan, @dlangbe, @congma13, @afanfa

yaml_test saves test data into a temp file
  test/00_unit/yaml_test.cpp
Owners: @cgmillette, @bragadeesh, @mkarunan, @dlangbe, @congma13, @afanfa

Link hip::device to hiptensor_llvm
  test/llvm/CMakeLists.txt
Owners: @cgmillette, @bragadeesh, @mkarunan, @dlangbe, @congma13, @afanfa

Link hip::device to hiptensor_llvm
  test/llvm/CMakeLists.txt
Owners: @cgmillette, @bragadeesh, @mkarunan, @dlangbe, @congma13, @afanfa

Link hip::device to hiptensor_llvm
  test/llvm/CMakeLists.txt
Owners: @cgmillette, @bragadeesh, @mkarunan, @dlangbe, @congma13, @afanfa

Combined datatypes across contraction tests
  library/include/hiptensor/hiptensor_types.hpp
  library/src/include/types.hpp
  library/src/types.cpp
  test/00_unit/yaml_test.cpp
  test/01_contraction/CMakeLists.txt
  test/01_contraction/bilinear_contraction_test.cpp
  test/01_contraction/configs/bilinear_f32_test_params.yaml
  test/01_contraction/configs/bilinear_test_params.yaml
  test/01_contraction/configs/scale_f64_test_params.yaml
  test/01_contraction/configs/scale_test_params.yaml
  test/01_contraction/contraction_test.cpp
  test/01_contraction/contraction_test.hpp
  test/01_contraction/contraction_test_helpers.hpp
  test/01_contraction/contraction_test_params.hpp
  test/01_contraction/scale_contraction_f32_test.cpp
  test/01_contraction/scale_contraction_f64_test.cpp
  test/01_contraction/scale_contraction_test.cpp
  test/llvm/yaml_parser_contraction_config.cpp
Owners: @cgmillette, @bragadeesh, @mkarunan, @dlangbe, @congma13, @afanfa

Fixed device reallocation
  test/01_contraction/contraction_resource.cpp
  test/01_contraction/contraction_resource.hpp
  test/01_contraction/contraction_test.cpp
  test/llvm/hiptensor_options.cpp
  test/llvm/hiptensor_options.hpp
  test/llvm/yaml_parser_contraction_config.cpp
Owners: @cgmillette, @bragadeesh, @mkarunan, @dlangbe, @congma13, @afanfa

Add hipTensor changelog + update version
  CHANGELOG.md
  CMakeLists.txt
Owners: @saadrahim, @LisaDelaney, @cgmillette, @bragadeesh, @mkarunan, @dlangbe, @congma13, @afanfa

Add hipTensor changelog + update version
  CHANGELOG.md
  CMakeLists.txt
Owners: @saadrahim, @LisaDelaney, @cgmillette, @bragadeesh, @mkarunan, @dlangbe, @congma13, @afanfa

Add hipTensor changelog + update version
  CHANGELOG.md
  CMakeLists.txt
Owners: @saadrahim, @LisaDelaney, @cgmillette, @bragadeesh, @mkarunan, @dlangbe, @congma13, @afanfa

Update CHANGELOG.md
  CHANGELOG.md
Owners: @saadrahim, @LisaDelaney

Update CHANGELOG.md
  CHANGELOG.md
Owners: @saadrahim, @LisaDelaney

Update CHANGELOG.md
  CHANGELOG.md
Owners: @saadrahim, @LisaDelaney

Use standard C function instead of std::filesystem
  test/00_unit/yaml_test.cpp
Owners: @cgmillette, @bragadeesh, @mkarunan, @dlangbe, @congma13, @afanfa

Use standard C function instead of std::filesystem
  test/00_unit/yaml_test.cpp
Owners: @cgmillette, @bragadeesh, @mkarunan, @dlangbe, @congma13, @afanfa

Use standard C function instead of std::filesystem
  test/00_unit/yaml_test.cpp
Owners: @cgmillette, @bragadeesh, @mkarunan, @dlangbe, @congma13, @afanfa

update
  docs/.sphinx/requirements.txt
Owners: @cgmillette, @bragadeesh, @mkarunan, @dlangbe, @congma13, @afanfa

Actor-critic selection algorithm for new CK kernels
  library/src/contraction/contraction_selection.cpp
Owners: @cgmillette, @bragadeesh, @mkarunan, @dlangbe, @congma13, @afanfa

Actor-critic selection algorithm for new CK kernels
  library/src/contraction/contraction_selection.cpp
Owners: @cgmillette, @bragadeesh, @mkarunan, @dlangbe, @congma13, @afanfa

Update CHANGELOG.md
  CHANGELOG.md
Owners: @saadrahim, @LisaDelaney

Update CHANGELOG.md
  CHANGELOG.md
Owners: @saadrahim, @LisaDelaney

Add an API function hiptensorPermutation
  library/include/hiptensor/hiptensor.hpp
  library/src/CMakeLists.txt
  library/src/permutation/CMakeLists.txt
  library/src/permutation/hiptensor_permutation.cpp
Owners: @cgmillette, @bragadeesh, @mkarunan, @dlangbe, @congma13, @afanfa

Add an API function hiptensorPermutation
  library/include/hiptensor/hiptensor.hpp
  library/src/CMakeLists.txt
  library/src/permutation/CMakeLists.txt
  library/src/permutation/hiptensor_permutation.cpp
Owners: @cgmillette, @bragadeesh, @mkarunan, @dlangbe, @congma13, @afanfa

update readme for ROCm style
  README.md
Owners: @saadrahim, @LisaDelaney

Update CHANGELOG.md
  CHANGELOG.md
Owners: @saadrahim, @LisaDelaney

Replace sprintf with snprintf
  library/src/contraction/hiptensor_contraction.cpp
  library/src/hiptensor.cpp
  library/src/logger.cpp
Owners: @cgmillette, @bragadeesh, @mkarunan, @dlangbe, @congma13, @afanfa

Replace sprintf with snprintf
  library/src/contraction/hiptensor_contraction.cpp
  library/src/hiptensor.cpp
  library/src/logger.cpp
Owners: @cgmillette, @bragadeesh, @mkarunan, @dlangbe, @congma13, @afanfa

Add linting workflow from rocm-docs-core
  .github/workflows/linting.yml
Owners: @cgmillette, @bragadeesh, @mkarunan, @dlangbe, @congma13, @afanfa

Add linting workflow from rocm-docs-core
  .github/workflows/linting.yml
Owners: @cgmillette, @bragadeesh, @mkarunan, @dlangbe, @congma13, @afanfa

Fix markdownlint violations
  README.md
Owners: @saadrahim, @LisaDelaney

Fix markdownlint violations
  README.md
Owners: @saadrahim, @LisaDelaney

.github/CODEOWNERS:

* @cgmillette @bragadeesh @mkarunan @dlangbe @congma13 @afanfa
# Documentation files
docs/* @saadrahim @LisaDelaney
*.md  @saadrahim @LisaDelaney
*.rst  @saadrahim @LisaDelaney
# Header directory
library/include/*  @saadrahim @LisaDelaney
