Repository ROCm/hipTensor, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cgmillette, @bragadeesh, @mkarunan, @dlangbe, @congma13, @afanfa, @saadrahim, @LisaDelaney

Modify instance factory
  library/src/contraction/contraction_pack_util.hpp
  library/src/contraction/contraction_solution_instances.cpp
  library/src/contraction/device/CMakeLists.txt
  library/src/contraction/device/device_contraction_bilinear_complex.hpp
  library/src/contraction/device/device_contraction_bilinear_m2_n2_k2_xdl_c_shuffle_cf32_cf32_cf32_cf32_knnn_instance.cpp
  library/src/contraction/device/device_contraction_bilinear_m2_n2_k2_xdl_c_shuffle_cf32_cf32_cf32_cf32_mknn_instance.cpp
  library/src/contraction/device/device_contraction_bilinear_m2_n2_k2_xdl_c_shuffle_cf32_cf32_cf32_cf32_mnnn_instance.cpp
  library/src/contraction/device/device_contraction_bilinear_m2_n2_k2_xdl_c_shuffle_cf64_cf64_cf64_cf64_kknn_instance.cpp
  library/src/contraction/device/device_contraction_bilinear_m2_n2_k2_xdl_c_shuffle_cf64_cf64_cf64_cf64_knnn_instance.cpp
  library/src/contraction/device/device_contraction_bilinear_m2_n2_k2_xdl_c_shuffle_cf64_cf64_cf64_cf64_mknn_instance.cpp
  library/src/contraction/device/device_contraction_bilinear_m2_n2_k2_xdl_c_shuffle_cf64_cf64_cf64_cf64_mnnn_instance.cpp
  library/src/contraction/device/device_contraction_scale_complex.hpp
  library/src/contraction/device/device_contraction_scale_m2_n2_k2_xdl_c_shuffle_cf32_cf32_cf32_kkn_instance.cpp
  library/src/contraction/device/device_contraction_scale_m2_n2_k2_xdl_c_shuffle_cf32_cf32_cf32_knn_instance.cpp
  library/src/contraction/device/device_contraction_scale_m2_n2_k2_xdl_c_shuffle_cf32_cf32_cf32_mkn_instance.cpp
  library/src/contraction/device/device_contraction_scale_m2_n2_k2_xdl_c_shuffle_cf32_cf32_cf32_mnn_instance.cpp
  library/src/contraction/device/device_contraction_scale_m2_n2_k2_xdl_c_shuffle_cf64_cf64_cf64_kkn_instance.cpp
  library/src/contraction/device/device_contraction_scale_m2_n2_k2_xdl_c_shuffle_cf64_cf64_cf64_knn_instance.cpp
  library/src/contraction/device/device_contraction_scale_m2_n2_k2_xdl_c_shuffle_cf64_cf64_cf64_mkn_instance.cpp
  library/src/contraction/device/device_contraction_scale_m2_n2_k2_xdl_c_shuffle_cf64_cf64_cf64_mnn_instance.cpp
  library/src/contraction/device/hiptensor_contraction_bilinear_instances.hpp
  library/src/contraction/device/hiptensor_contraction_scale.hpp
  library/src/contraction/device/hiptensor_contraction_scale_instances.hpp
Owners: @cgmillette, @bragadeesh, @mkarunan, @dlangbe, @congma13, @afanfa

Modify instance factory
  library/src/contraction/contraction_pack_util.hpp
  library/src/contraction/contraction_solution_instances.cpp
  library/src/contraction/device/CMakeLists.txt
  library/src/contraction/device/device_contraction_bilinear_complex.hpp
  library/src/contraction/device/device_contraction_bilinear_m2_n2_k2_xdl_c_shuffle_cf32_cf32_cf32_cf32_knnn_instance.cpp
  library/src/contraction/device/device_contraction_bilinear_m2_n2_k2_xdl_c_shuffle_cf32_cf32_cf32_cf32_mknn_instance.cpp
  library/src/contraction/device/device_contraction_bilinear_m2_n2_k2_xdl_c_shuffle_cf32_cf32_cf32_cf32_mnnn_instance.cpp
  library/src/contraction/device/device_contraction_bilinear_m2_n2_k2_xdl_c_shuffle_cf64_cf64_cf64_cf64_kknn_instance.cpp
  library/src/contraction/device/device_contraction_bilinear_m2_n2_k2_xdl_c_shuffle_cf64_cf64_cf64_cf64_knnn_instance.cpp
  library/src/contraction/device/device_contraction_bilinear_m2_n2_k2_xdl_c_shuffle_cf64_cf64_cf64_cf64_mknn_instance.cpp
  library/src/contraction/device/device_contraction_bilinear_m2_n2_k2_xdl_c_shuffle_cf64_cf64_cf64_cf64_mnnn_instance.cpp
  library/src/contraction/device/device_contraction_scale_complex.hpp
  library/src/contraction/device/device_contraction_scale_m2_n2_k2_xdl_c_shuffle_cf32_cf32_cf32_kkn_instance.cpp
  library/src/contraction/device/device_contraction_scale_m2_n2_k2_xdl_c_shuffle_cf32_cf32_cf32_knn_instance.cpp
  library/src/contraction/device/device_contraction_scale_m2_n2_k2_xdl_c_shuffle_cf32_cf32_cf32_mkn_instance.cpp
  library/src/contraction/device/device_contraction_scale_m2_n2_k2_xdl_c_shuffle_cf32_cf32_cf32_mnn_instance.cpp
  library/src/contraction/device/device_contraction_scale_m2_n2_k2_xdl_c_shuffle_cf64_cf64_cf64_kkn_instance.cpp
  library/src/contraction/device/device_contraction_scale_m2_n2_k2_xdl_c_shuffle_cf64_cf64_cf64_knn_instance.cpp
  library/src/contraction/device/device_contraction_scale_m2_n2_k2_xdl_c_shuffle_cf64_cf64_cf64_mkn_instance.cpp
  library/src/contraction/device/device_contraction_scale_m2_n2_k2_xdl_c_shuffle_cf64_cf64_cf64_mnn_instance.cpp
  library/src/contraction/device/hiptensor_contraction_bilinear_instances.hpp
  library/src/contraction/device/hiptensor_contraction_scale.hpp
  library/src/contraction/device/hiptensor_contraction_scale_instances.hpp
Owners: @cgmillette, @bragadeesh, @mkarunan, @dlangbe, @congma13, @afanfa

Enable complex f32
  library/src/contraction/device/device_contraction_bilinear_complex.hpp
  library/src/contraction/device/device_contraction_scale_complex.hpp
  test/01_contraction/configs/bilinear_test_params.yaml
  test/01_contraction/configs/scale_test_params.yaml
Owners: @cgmillette, @bragadeesh, @mkarunan, @dlangbe, @congma13, @afanfa

Enable complex f32
  library/src/contraction/device/device_contraction_bilinear_complex.hpp
  library/src/contraction/device/device_contraction_scale_complex.hpp
  test/01_contraction/configs/bilinear_test_params.yaml
  test/01_contraction/configs/scale_test_params.yaml
Owners: @cgmillette, @bragadeesh, @mkarunan, @dlangbe, @congma13, @afanfa

Add scalar and complex type instances
  library/src/contraction/contraction_cpu_reference_instances.cpp
  library/src/contraction/contraction_pack_util.hpp
  library/src/contraction/device/CMakeLists.txt
  library/src/contraction/device/device_contraction_bilinear_complex.hpp
  library/src/contraction/device/device_contraction_bilinear_m2_n2_k2_xdl_c_shuffle_cf32_cf32_cf32_cf32_compute_cf32_kknn_instance.cpp
  library/src/contraction/device/device_contraction_bilinear_m2_n2_k2_xdl_c_shuffle_cf32_cf32_cf32_cf32_compute_cf32_knnn_instance.cpp
  library/src/contraction/device/device_contraction_bilinear_m2_n2_k2_xdl_c_shuffle_cf32_cf32_cf32_cf32_compute_cf32_mknn_instance.cpp
  library/src/contraction/device/device_contraction_bilinear_m2_n2_k2_xdl_c_shuffle_cf32_cf32_cf32_cf32_compute_cf32_mnnn_instance.cpp
  library/src/contraction/device/device_contraction_bilinear_m2_n2_k2_xdl_c_shuffle_cf64_cf64_cf64_cf64_compute_cf64_kknn_instance.cpp
  library/src/contraction/device/device_contraction_bilinear_m2_n2_k2_xdl_c_shuffle_cf64_cf64_cf64_cf64_compute_cf64_knnn_instance.cpp
  library/src/contraction/device/device_contraction_bilinear_m2_n2_k2_xdl_c_shuffle_cf64_cf64_cf64_cf64_compute_cf64_mknn_instance.cpp
  library/src/contraction/device/device_contraction_bilinear_m2_n2_k2_xdl_c_shuffle_cf64_cf64_cf64_cf64_compute_cf64_mnnn_instance.cpp
  library/src/contraction/device/device_contraction_scale_complex.hpp
  library/src/contraction/device/device_contraction_scale_m2_n2_k2_xdl_c_shuffle_cf32_cf32_cf32_compute_cf32_kkn_instance.cpp
  library/src/contraction/device/device_contraction_scale_m2_n2_k2_xdl_c_shuffle_cf32_cf32_cf32_compute_cf32_knn_instance.cpp
  library/src/contraction/device/device_contraction_scale_m2_n2_k2_xdl_c_shuffle_cf32_cf32_cf32_compute_cf32_mkn_instance.cpp
  library/src/contraction/device/device_contraction_scale_m2_n2_k2_xdl_c_shuffle_cf32_cf32_cf32_compute_cf32_mnn_instance.cpp
  library/src/contraction/device/device_contraction_scale_m2_n2_k2_xdl_c_shuffle_cf64_cf64_cf64_compute_cf64_kkn_instance.cpp
  library/src/contraction/device/device_contraction_scale_m2_n2_k2_xdl_c_shuffle_cf64_cf64_cf64_compute_cf64_knn_instance.cpp
  library/src/contraction/device/device_contraction_scale_m2_n2_k2_xdl_c_shuffle_cf64_cf64_cf64_compute_cf64_mkn_instance.cpp
  library/src/contraction/device/device_contraction_scale_m2_n2_k2_xdl_c_shuffle_cf64_cf64_cf64_compute_cf64_mnn_instance.cpp
Owners: @cgmillette, @bragadeesh, @mkarunan, @dlangbe, @congma13, @afanfa

Add scalar and complex type instances
  library/src/contraction/contraction_cpu_reference_instances.cpp
  library/src/contraction/contraction_pack_util.hpp
  library/src/contraction/device/CMakeLists.txt
  library/src/contraction/device/device_contraction_bilinear_complex.hpp
  library/src/contraction/device/device_contraction_bilinear_m2_n2_k2_xdl_c_shuffle_cf32_cf32_cf32_cf32_compute_cf32_kknn_instance.cpp
  library/src/contraction/device/device_contraction_bilinear_m2_n2_k2_xdl_c_shuffle_cf32_cf32_cf32_cf32_compute_cf32_knnn_instance.cpp
  library/src/contraction/device/device_contraction_bilinear_m2_n2_k2_xdl_c_shuffle_cf32_cf32_cf32_cf32_compute_cf32_mknn_instance.cpp
  library/src/contraction/device/device_contraction_bilinear_m2_n2_k2_xdl_c_shuffle_cf32_cf32_cf32_cf32_compute_cf32_mnnn_instance.cpp
  library/src/contraction/device/device_contraction_bilinear_m2_n2_k2_xdl_c_shuffle_cf64_cf64_cf64_cf64_compute_cf64_kknn_instance.cpp
  library/src/contraction/device/device_contraction_bilinear_m2_n2_k2_xdl_c_shuffle_cf64_cf64_cf64_cf64_compute_cf64_knnn_instance.cpp
  library/src/contraction/device/device_contraction_bilinear_m2_n2_k2_xdl_c_shuffle_cf64_cf64_cf64_cf64_compute_cf64_mknn_instance.cpp
  library/src/contraction/device/device_contraction_bilinear_m2_n2_k2_xdl_c_shuffle_cf64_cf64_cf64_cf64_compute_cf64_mnnn_instance.cpp
  library/src/contraction/device/device_contraction_scale_complex.hpp
  library/src/contraction/device/device_contraction_scale_m2_n2_k2_xdl_c_shuffle_cf32_cf32_cf32_compute_cf32_kkn_instance.cpp
  library/src/contraction/device/device_contraction_scale_m2_n2_k2_xdl_c_shuffle_cf32_cf32_cf32_compute_cf32_knn_instance.cpp
  library/src/contraction/device/device_contraction_scale_m2_n2_k2_xdl_c_shuffle_cf32_cf32_cf32_compute_cf32_mkn_instance.cpp
  library/src/contraction/device/device_contraction_scale_m2_n2_k2_xdl_c_shuffle_cf32_cf32_cf32_compute_cf32_mnn_instance.cpp
  library/src/contraction/device/device_contraction_scale_m2_n2_k2_xdl_c_shuffle_cf64_cf64_cf64_compute_cf64_kkn_instance.cpp
  library/src/contraction/device/device_contraction_scale_m2_n2_k2_xdl_c_shuffle_cf64_cf64_cf64_compute_cf64_knn_instance.cpp
  library/src/contraction/device/device_contraction_scale_m2_n2_k2_xdl_c_shuffle_cf64_cf64_cf64_compute_cf64_mkn_instance.cpp
  library/src/contraction/device/device_contraction_scale_m2_n2_k2_xdl_c_shuffle_cf64_cf64_cf64_compute_cf64_mnn_instance.cpp
Owners: @cgmillette, @bragadeesh, @mkarunan, @dlangbe, @congma13, @afanfa

Add complex bilinear and scale structures
  library/src/contraction/device/device_element_wise_complex.hpp
Owners: @cgmillette, @bragadeesh, @mkarunan, @dlangbe, @congma13, @afanfa

Add complex bilinear and scale structures
  library/src/contraction/device/device_element_wise_complex.hpp
Owners: @cgmillette, @bragadeesh, @mkarunan, @dlangbe, @congma13, @afanfa

Support complex alpha and beta in contraction
  library/include/hiptensor/hiptensor_types.hpp
  library/src/contraction/contraction_selection.cpp
  library/src/contraction/contraction_solution_impl.hpp
  library/src/data_types.cpp
  library/src/include/data_types.hpp
  library/src/include/data_types_impl.hpp
  test/01_contraction/CMakeLists.txt
  test/01_contraction/complex_bilinear_contraction_test.cpp
  test/01_contraction/configs/complex_bilinear_test_params.yaml
Owners: @cgmillette, @bragadeesh, @mkarunan, @dlangbe, @congma13, @afanfa

Support complex alpha and beta in contraction
  library/include/hiptensor/hiptensor_types.hpp
  library/src/contraction/contraction_selection.cpp
  library/src/contraction/contraction_solution_impl.hpp
  library/src/data_types.cpp
  library/src/include/data_types.hpp
  library/src/include/data_types_impl.hpp
  test/01_contraction/CMakeLists.txt
  test/01_contraction/complex_bilinear_contraction_test.cpp
  test/01_contraction/configs/complex_bilinear_test_params.yaml
Owners: @cgmillette, @bragadeesh, @mkarunan, @dlangbe, @congma13, @afanfa

Modify base class compute type
  library/src/contraction/device/device_contraction_bilinear_complex.hpp
Owners: @cgmillette, @bragadeesh, @mkarunan, @dlangbe, @congma13, @afanfa

Modify base class compute type
  library/src/contraction/device/device_contraction_bilinear_complex.hpp
Owners: @cgmillette, @bragadeesh, @mkarunan, @dlangbe, @congma13, @afanfa

Modify cpu and gpu device instances for complex
  library/src/contraction/contraction_cpu_reference_impl.hpp
  library/src/contraction/contraction_cpu_reference_instances.cpp
  library/src/contraction/contraction_meta_traits.hpp
  library/src/contraction/contraction_pack_util.hpp
  library/src/contraction/contraction_solution.hpp
  library/src/contraction/contraction_solution_impl.hpp
  library/src/contraction/contraction_solution_instances.cpp
  library/src/contraction/contraction_types.hpp
  library/src/contraction/contraction_types_impl.hpp
  library/src/contraction/device/common.hpp
  library/src/contraction/device/device_contraction_bilinear_complex.hpp
  library/src/contraction/device/device_contraction_bilinear_m2_n2_k2_xdl_c_shuffle_cf32_cf32_cf32_cf32_compute_cf32_kknn_instance.cpp
  library/src/contraction/device/device_contraction_bilinear_m2_n2_k2_xdl_c_shuffle_cf32_cf32_cf32_cf32_compute_cf32_knnn_instance.cpp
  library/src/contraction/device/device_contraction_bilinear_m2_n2_k2_xdl_c_shuffle_cf32_cf32_cf32_cf32_compute_cf32_mknn_instance.cpp
  library/src/contraction/device/device_contraction_bilinear_m2_n2_k2_xdl_c_shuffle_cf32_cf32_cf32_cf32_compute_cf32_mnnn_instance.cpp
  library/src/contraction/device/device_contraction_bilinear_m2_n2_k2_xdl_c_shuffle_cf64_cf64_cf64_cf64_compute_cf64_kknn_instance.cpp
  library/src/contraction/device/device_contraction_bilinear_m2_n2_k2_xdl_c_shuffle_cf64_cf64_cf64_cf64_compute_cf64_knnn_instance.cpp
  library/src/contraction/device/device_contraction_bilinear_m2_n2_k2_xdl_c_shuffle_cf64_cf64_cf64_cf64_compute_cf64_mknn_instance.cpp
  library/src/contraction/device/device_contraction_bilinear_m2_n2_k2_xdl_c_shuffle_cf64_cf64_cf64_cf64_compute_cf64_mnnn_instance.cpp
  library/src/contraction/device/device_contraction_scale_complex.hpp
  library/src/contraction/device/device_contraction_scale_m2_n2_k2_xdl_c_shuffle_cf32_cf32_cf32_compute_cf32_kkn_instance.cpp
  library/src/contraction/device/device_contraction_scale_m2_n2_k2_xdl_c_shuffle_cf32_cf32_cf32_compute_cf32_knn_instance.cpp
  library/src/contraction/device/device_contraction_scale_m2_n2_k2_xdl_c_shuffle_cf32_cf32_cf32_compute_cf32_mkn_instance.cpp
  library/src/contraction/device/device_contraction_scale_m2_n2_k2_xdl_c_shuffle_cf32_cf32_cf32_compute_cf32_mnn_instance.cpp
  library/src/contraction/device/device_contraction_scale_m2_n2_k2_xdl_c_shuffle_cf64_cf64_cf64_compute_cf64_kkn_instance.cpp
  library/src/contraction/device/device_contraction_scale_m2_n2_k2_xdl_c_shuffle_cf64_cf64_cf64_compute_cf64_knn_instance.cpp
  library/src/contraction/device/device_contraction_scale_m2_n2_k2_xdl_c_shuffle_cf64_cf64_cf64_compute_cf64_mkn_instance.cpp
  library/src/contraction/device/device_contraction_scale_m2_n2_k2_xdl_c_shuffle_cf64_cf64_cf64_compute_cf64_mnn_instance.cpp
  library/src/contraction/device/device_element_wise_operation_complex.hpp
  library/src/contraction/device/hiptensor_contraction_bilinear_instances.hpp
  library/src/contraction/device/hiptensor_contraction_scale_instances.hpp
  library/src/include/meta_traits.hpp
Owners: @cgmillette, @bragadeesh, @mkarunan, @dlangbe, @congma13, @afanfa

Modify cpu and gpu device instances for complex
  library/src/contraction/contraction_cpu_reference_impl.hpp
  library/src/contraction/contraction_cpu_reference_instances.cpp
  library/src/contraction/contraction_meta_traits.hpp
  library/src/contraction/contraction_pack_util.hpp
  library/src/contraction/contraction_solution.hpp
  library/src/contraction/contraction_solution_impl.hpp
  library/src/contraction/contraction_solution_instances.cpp
  library/src/contraction/contraction_types.hpp
  library/src/contraction/contraction_types_impl.hpp
  library/src/contraction/device/common.hpp
  library/src/contraction/device/device_contraction_bilinear_complex.hpp
  library/src/contraction/device/device_contraction_bilinear_m2_n2_k2_xdl_c_shuffle_cf32_cf32_cf32_cf32_compute_cf32_kknn_instance.cpp
  library/src/contraction/device/device_contraction_bilinear_m2_n2_k2_xdl_c_shuffle_cf32_cf32_cf32_cf32_compute_cf32_knnn_instance.cpp
  library/src/contraction/device/device_contraction_bilinear_m2_n2_k2_xdl_c_shuffle_cf32_cf32_cf32_cf32_compute_cf32_mknn_instance.cpp
  library/src/contraction/device/device_contraction_bilinear_m2_n2_k2_xdl_c_shuffle_cf32_cf32_cf32_cf32_compute_cf32_mnnn_instance.cpp
  library/src/contraction/device/device_contraction_bilinear_m2_n2_k2_xdl_c_shuffle_cf64_cf64_cf64_cf64_compute_cf64_kknn_instance.cpp
  library/src/contraction/device/device_contraction_bilinear_m2_n2_k2_xdl_c_shuffle_cf64_cf64_cf64_cf64_compute_cf64_knnn_instance.cpp
  library/src/contraction/device/device_contraction_bilinear_m2_n2_k2_xdl_c_shuffle_cf64_cf64_cf64_cf64_compute_cf64_mknn_instance.cpp
  library/src/contraction/device/device_contraction_bilinear_m2_n2_k2_xdl_c_shuffle_cf64_cf64_cf64_cf64_compute_cf64_mnnn_instance.cpp
  library/src/contraction/device/device_contraction_scale_complex.hpp
  library/src/contraction/device/device_contraction_scale_m2_n2_k2_xdl_c_shuffle_cf32_cf32_cf32_compute_cf32_kkn_instance.cpp
  library/src/contraction/device/device_contraction_scale_m2_n2_k2_xdl_c_shuffle_cf32_cf32_cf32_compute_cf32_knn_instance.cpp
  library/src/contraction/device/device_contraction_scale_m2_n2_k2_xdl_c_shuffle_cf32_cf32_cf32_compute_cf32_mkn_instance.cpp
  library/src/contraction/device/device_contraction_scale_m2_n2_k2_xdl_c_shuffle_cf32_cf32_cf32_compute_cf32_mnn_instance.cpp
  library/src/contraction/device/device_contraction_scale_m2_n2_k2_xdl_c_shuffle_cf64_cf64_cf64_compute_cf64_kkn_instance.cpp
  library/src/contraction/device/device_contraction_scale_m2_n2_k2_xdl_c_shuffle_cf64_cf64_cf64_compute_cf64_knn_instance.cpp
  library/src/contraction/device/device_contraction_scale_m2_n2_k2_xdl_c_shuffle_cf64_cf64_cf64_compute_cf64_mkn_instance.cpp
  library/src/contraction/device/device_contraction_scale_m2_n2_k2_xdl_c_shuffle_cf64_cf64_cf64_compute_cf64_mnn_instance.cpp
  library/src/contraction/device/device_element_wise_operation_complex.hpp
  library/src/contraction/device/hiptensor_contraction_bilinear_instances.hpp
  library/src/contraction/device/hiptensor_contraction_scale_instances.hpp
  library/src/include/meta_traits.hpp
Owners: @cgmillette, @bragadeesh, @mkarunan, @dlangbe, @congma13, @afanfa

Add unit test of contraction with complex compute type
  library/src/contraction/contraction_selection.cpp
  library/src/contraction/hiptensor_contraction.cpp
  library/src/data_types.cpp
  library/src/include/data_types.hpp
  test/00_unit/yaml_test.cpp
  test/01_contraction/configs/bilinear_test_params.yaml
  test/01_contraction/configs/complex_bilinear_test_params.yaml
  test/01_contraction/configs/scale_test_params.yaml
  test/01_contraction/contraction_test.cpp
  test/01_contraction/contraction_test_params.hpp
  test/llvm/yaml_parser_config.cpp
Owners: @cgmillette, @bragadeesh, @mkarunan, @dlangbe, @congma13, @afanfa

Add unit test of contraction with complex compute type
  library/src/contraction/contraction_selection.cpp
  library/src/contraction/hiptensor_contraction.cpp
  library/src/data_types.cpp
  library/src/include/data_types.hpp
  test/00_unit/yaml_test.cpp
  test/01_contraction/configs/bilinear_test_params.yaml
  test/01_contraction/configs/complex_bilinear_test_params.yaml
  test/01_contraction/configs/scale_test_params.yaml
  test/01_contraction/contraction_test.cpp
  test/01_contraction/contraction_test_params.hpp
  test/llvm/yaml_parser_config.cpp
Owners: @cgmillette, @bragadeesh, @mkarunan, @dlangbe, @congma13, @afanfa

Modify samples to use new compute type
  samples/01_contraction/CMakeLists.txt
  samples/01_contraction/simple_bilinear_contraction.hpp
  samples/01_contraction/simple_bilinear_contraction_cf32_cf32_cf32_cf32_compute_cf32.cpp
  samples/01_contraction/simple_scale_contraction.hpp
  samples/01_contraction/simple_scale_contraction_cf32_cf32_cf32_compute_cf32.cpp
  test/01_contraction/CMakeLists.txt
  test/01_contraction/complex_scale_contraction_test.cpp
  test/01_contraction/configs/complex_scale_test_params.yaml
Owners: @cgmillette, @bragadeesh, @mkarunan, @dlangbe, @congma13, @afanfa

Modify samples to use new compute type
  samples/01_contraction/CMakeLists.txt
  samples/01_contraction/simple_bilinear_contraction.hpp
  samples/01_contraction/simple_bilinear_contraction_cf32_cf32_cf32_cf32_compute_cf32.cpp
  samples/01_contraction/simple_scale_contraction.hpp
  samples/01_contraction/simple_scale_contraction_cf32_cf32_cf32_compute_cf32.cpp
  test/01_contraction/CMakeLists.txt
  test/01_contraction/complex_scale_contraction_test.cpp
  test/01_contraction/configs/complex_scale_test_params.yaml
Owners: @cgmillette, @bragadeesh, @mkarunan, @dlangbe, @congma13, @afanfa

Support Complex alpha and beta in samples
  library/src/contraction/device/device_contraction_bilinear_complex.hpp
  library/src/contraction/device/device_contraction_scale_complex.hpp
  library/src/contraction/hiptensor_contraction.cpp
  library/src/data_types.cpp
  library/src/include/data_types.hpp
  samples/01_contraction/simple_bilinear_contraction.hpp
  samples/01_contraction/simple_bilinear_contraction_bf16_bf16_bf16_bf16_compute_bf16.cpp
  samples/01_contraction/simple_bilinear_contraction_cf32_cf32_cf32_cf32_compute_cf32.cpp
  samples/01_contraction/simple_bilinear_contraction_f16_f16_f16_f16_compute_f16.cpp
  samples/01_contraction/simple_bilinear_contraction_f32_f32_f32_f32_compute_bf16.cpp
  samples/01_contraction/simple_bilinear_contraction_f32_f32_f32_f32_compute_f16.cpp
  samples/01_contraction/simple_bilinear_contraction_f32_f32_f32_f32_compute_f32.cpp
  samples/01_contraction/simple_bilinear_contraction_f64_f64_f64_f64_compute_f32.cpp
  samples/01_contraction/simple_bilinear_contraction_f64_f64_f64_f64_compute_f64.cpp
  samples/01_contraction/simple_scale_contraction.hpp
  samples/01_contraction/simple_scale_contraction_bf16_bf16_bf16_compute_bf16.cpp
  samples/01_contraction/simple_scale_contraction_cf32_cf32_cf32_compute_cf32.cpp
  samples/01_contraction/simple_scale_contraction_f16_f16_f16_compute_f16.cpp
  samples/01_contraction/simple_scale_contraction_f32_f32_f32_compute_bf16.cpp
  samples/01_contraction/simple_scale_contraction_f32_f32_f32_compute_f16.cpp
  samples/01_contraction/simple_scale_contraction_f32_f32_f32_compute_f32.cpp
  samples/01_contraction/simple_scale_contraction_f64_f64_f64_compute_f32.cpp
  samples/01_contraction/simple_scale_contraction_f64_f64_f64_compute_f64.cpp
  test/01_contraction/configs/complex_bilinear_test_params.yaml
  test/01_contraction/configs/complex_scale_test_params.yaml
  test/device/common.hpp
Owners: @cgmillette, @bragadeesh, @mkarunan, @dlangbe, @congma13, @afanfa

Support Complex alpha and beta in samples
  library/src/contraction/device/device_contraction_bilinear_complex.hpp
  library/src/contraction/device/device_contraction_scale_complex.hpp
  library/src/contraction/hiptensor_contraction.cpp
  library/src/data_types.cpp
  library/src/include/data_types.hpp
  samples/01_contraction/simple_bilinear_contraction.hpp
  samples/01_contraction/simple_bilinear_contraction_bf16_bf16_bf16_bf16_compute_bf16.cpp
  samples/01_contraction/simple_bilinear_contraction_cf32_cf32_cf32_cf32_compute_cf32.cpp
  samples/01_contraction/simple_bilinear_contraction_f16_f16_f16_f16_compute_f16.cpp
  samples/01_contraction/simple_bilinear_contraction_f32_f32_f32_f32_compute_bf16.cpp
  samples/01_contraction/simple_bilinear_contraction_f32_f32_f32_f32_compute_f16.cpp
  samples/01_contraction/simple_bilinear_contraction_f32_f32_f32_f32_compute_f32.cpp
  samples/01_contraction/simple_bilinear_contraction_f64_f64_f64_f64_compute_f32.cpp
  samples/01_contraction/simple_bilinear_contraction_f64_f64_f64_f64_compute_f64.cpp
  samples/01_contraction/simple_scale_contraction.hpp
  samples/01_contraction/simple_scale_contraction_bf16_bf16_bf16_compute_bf16.cpp
  samples/01_contraction/simple_scale_contraction_cf32_cf32_cf32_compute_cf32.cpp
  samples/01_contraction/simple_scale_contraction_f16_f16_f16_compute_f16.cpp
  samples/01_contraction/simple_scale_contraction_f32_f32_f32_compute_bf16.cpp
  samples/01_contraction/simple_scale_contraction_f32_f32_f32_compute_f16.cpp
  samples/01_contraction/simple_scale_contraction_f32_f32_f32_compute_f32.cpp
  samples/01_contraction/simple_scale_contraction_f64_f64_f64_compute_f32.cpp
  samples/01_contraction/simple_scale_contraction_f64_f64_f64_compute_f64.cpp
  test/01_contraction/configs/complex_bilinear_test_params.yaml
  test/01_contraction/configs/complex_scale_test_params.yaml
  test/device/common.hpp
Owners: @cgmillette, @bragadeesh, @mkarunan, @dlangbe, @congma13, @afanfa

Cleanup
  library/src/contraction/contraction_pack_util.hpp
  library/src/contraction/device/device_contraction_bilinear_complex.hpp
  library/src/contraction/device/device_contraction_scale_complex.hpp
Owners: @cgmillette, @bragadeesh, @mkarunan, @dlangbe, @congma13, @afanfa

Cleanup
  library/src/contraction/contraction_pack_util.hpp
  library/src/contraction/device/device_contraction_bilinear_complex.hpp
  library/src/contraction/device/device_contraction_scale_complex.hpp
Owners: @cgmillette, @bragadeesh, @mkarunan, @dlangbe, @congma13, @afanfa

Set unit test difference threshold to epsilon of compute type
  library/src/contraction/contraction_selection.cpp
  library/src/permutation/permutation_cpu_reference_impl.hpp
  test/01_contraction/configs/bilinear_test_params.yaml
  test/01_contraction/configs/complex_bilinear_test_params.yaml
  test/01_contraction/configs/complex_scale_test_params.yaml
  test/01_contraction/configs/scale_test_params.yaml
  test/01_contraction/contraction_test.cpp
  test/02_permutation/permutation_cpu_impl_test.cpp
  test/02_permutation/permutation_resource.cpp
  test/02_permutation/permutation_test.cpp
  test/utils.hpp
Owners: @cgmillette, @bragadeesh, @mkarunan, @dlangbe, @congma13, @afanfa

Set unit test difference threshold to epsilon of compute type
  library/src/contraction/contraction_selection.cpp
  library/src/permutation/permutation_cpu_reference_impl.hpp
  test/01_contraction/configs/bilinear_test_params.yaml
  test/01_contraction/configs/complex_bilinear_test_params.yaml
  test/01_contraction/configs/complex_scale_test_params.yaml
  test/01_contraction/configs/scale_test_params.yaml
  test/01_contraction/contraction_test.cpp
  test/02_permutation/permutation_cpu_impl_test.cpp
  test/02_permutation/permutation_resource.cpp
  test/02_permutation/permutation_test.cpp
  test/utils.hpp
Owners: @cgmillette, @bragadeesh, @mkarunan, @dlangbe, @congma13, @afanfa

Revert "Adding issue template"
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/issue_report.yml
Owners: @cgmillette, @bragadeesh, @mkarunan, @dlangbe, @congma13, @afanfa

Revert "Adding issue template"
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/issue_report.yml
Owners: @cgmillette, @bragadeesh, @mkarunan, @dlangbe, @congma13, @afanfa

Apply suggestions from code review
  README.md
Owners: @saadrahim, @LisaDelaney

Apply suggestions from code review
  README.md
Owners: @saadrahim, @LisaDelaney

Update README.md
  README.md
Owners: @saadrahim, @LisaDelaney

Update README.md
  README.md
Owners: @saadrahim, @LisaDelaney

Change OpenFlags to OF_None
  test/llvm/yaml_parser_impl.hpp
Owners: @cgmillette, @bragadeesh, @mkarunan, @dlangbe, @congma13, @afanfa

Run a custom virtual environment via conda (mambaforge) for ReadtheDocs for doxygen 1.9.8
  .readthedocs.yaml
  docs/environment.yml
Owners: @cgmillette, @bragadeesh, @mkarunan, @dlangbe, @congma13, @afanfa, @saadrahim, @LisaDelaney

Avoid Latex in README.md
  README.md
Owners: @saadrahim, @LisaDelaney

Avoid Latex in README.md
  README.md
Owners: @saadrahim, @LisaDelaney

Fix spelling errors
  docs/Contributors_Guide.rst
  docs/Linux_Install_Guide.rst
Owners: @saadrahim, @LisaDelaney

Fix spelling errors
  docs/Contributors_Guide.rst
  docs/Linux_Install_Guide.rst
Owners: @saadrahim, @LisaDelaney

Add file .wordlist.txt
  .wordlist.txt
Owners: @cgmillette, @bragadeesh, @mkarunan, @dlangbe, @congma13, @afanfa

Add file .wordlist.txt
  .wordlist.txt
Owners: @cgmillette, @bragadeesh, @mkarunan, @dlangbe, @congma13, @afanfa

Add flags needed for clang compiler
  CMakeLists.txt
Owners: @cgmillette, @bragadeesh, @mkarunan, @dlangbe, @congma13, @afanfa

Add flags needed for clang compiler
  CMakeLists.txt
Owners: @cgmillette, @bragadeesh, @mkarunan, @dlangbe, @congma13, @afanfa

.github/CODEOWNERS:

* @cgmillette @bragadeesh @mkarunan @dlangbe @congma13 @afanfa
# Documentation files
docs/* @saadrahim @LisaDelaney
*.md  @saadrahim @LisaDelaney
*.rst  @saadrahim @LisaDelaney
# Header directory
library/include/*  @saadrahim @LisaDelaney
