Repository ROCm/hipTensor, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cgmillette, @bragadeesh, @mkarunan, @dlangbe, @congma13, @afanfa, @saadrahim, @LisaDelaney

.github/CODEOWNERS:

* @cgmillette @bragadeesh @mkarunan @dlangbe @congma13 @afanfa
# Documentation files
docs/* @saadrahim @LisaDelaney
*.md  @saadrahim @LisaDelaney
*.rst  @saadrahim @LisaDelaney
# Header directory
library/include/*  @saadrahim @LisaDelaney

Add files via upload
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/issue_report.yml
Owners: @cgmillette, @bragadeesh, @mkarunan, @dlangbe, @congma13, @afanfa

Remove xfloat32 which is not used in hiptensor
  library/include/hiptensor/internal/native_types.hpp
  library/include/hiptensor/internal/type_traits.hpp
  library/include/hiptensor/internal/xfloat32.hpp
Owners: @cgmillette, @bragadeesh, @mkarunan, @dlangbe, @congma13, @afanfa

Remove xfloat32 which is not used in hiptensor
  library/include/hiptensor/internal/native_types.hpp
  library/include/hiptensor/internal/type_traits.hpp
  library/include/hiptensor/internal/xfloat32.hpp
Owners: @cgmillette, @bragadeesh, @mkarunan, @dlangbe, @congma13, @afanfa

fix build warnings removed double std namespaces fix underlines
  .gitignore
  docs/Contributors_Guide.rst
  docs/Programmers_Guide.rst
  library/include/hiptensor/internal/hiptensor-version.hpp.in
  library/include/hiptensor/internal/type_traits.hpp
  library/src/contraction/contraction_solution_impl.hpp
  library/src/contraction/contraction_solution_params_impl.hpp
Owners: @cgmillette, @bragadeesh, @mkarunan, @dlangbe, @congma13, @afanfa, @saadrahim, @LisaDelaney

fix build warnings removed double std namespaces fix underlines
  .gitignore
  docs/Contributors_Guide.rst
  docs/Programmers_Guide.rst
  library/include/hiptensor/internal/hiptensor-version.hpp.in
  library/include/hiptensor/internal/type_traits.hpp
  library/src/contraction/contraction_solution_impl.hpp
  library/src/contraction/contraction_solution_params_impl.hpp
Owners: @cgmillette, @bragadeesh, @mkarunan, @dlangbe, @congma13, @afanfa, @saadrahim, @LisaDelaney

update doxyfile
  docs/.doxygen/Doxyfile
Owners: @cgmillette, @bragadeesh, @mkarunan, @dlangbe, @congma13, @afanfa

update doxyfile
  docs/.doxygen/Doxyfile
Owners: @cgmillette, @bragadeesh, @mkarunan, @dlangbe, @congma13, @afanfa

remove type traits, that sneaked back during rebase
  library/include/hiptensor/internal/type_traits.hpp
Owners: @cgmillette, @bragadeesh, @mkarunan, @dlangbe, @congma13, @afanfa

remove type traits, that sneaked back during rebase
  library/include/hiptensor/internal/type_traits.hpp
Owners: @cgmillette, @bragadeesh, @mkarunan, @dlangbe, @congma13, @afanfa

Update issue_report.yml
  .github/ISSUE_TEMPLATE/issue_report.yml
Owners: @cgmillette, @bragadeesh, @mkarunan, @dlangbe, @congma13, @afanfa

Update issue_report.yml
  .github/ISSUE_TEMPLATE/issue_report.yml
Owners: @cgmillette, @bragadeesh, @mkarunan, @dlangbe, @congma13, @afanfa

remove unnecessary endcond
  library/include/hiptensor/internal/type_traits.hpp
Owners: @cgmillette, @bragadeesh, @mkarunan, @dlangbe, @congma13, @afanfa

remove unnecessary endcond
  library/include/hiptensor/internal/type_traits.hpp
Owners: @cgmillette, @bragadeesh, @mkarunan, @dlangbe, @congma13, @afanfa

fix spellcheck errors
  docs/Contributors_Guide.rst
  docs/Linux_Install_Guide.rst
  docs/Programmers_Guide.rst
Owners: @saadrahim, @LisaDelaney

added rocm v6, mi300, default component, new line
  .github/ISSUE_TEMPLATE/issue_report.yml
Owners: @cgmillette, @bragadeesh, @mkarunan, @dlangbe, @congma13, @afanfa

added rocm v6, mi300, default component, new line
  .github/ISSUE_TEMPLATE/issue_report.yml
Owners: @cgmillette, @bragadeesh, @mkarunan, @dlangbe, @congma13, @afanfa

New single kernel selection. To be improved.
  library/src/contraction/contraction_selection.cpp
Owners: @cgmillette, @bragadeesh, @mkarunan, @dlangbe, @congma13, @afanfa

Standardize documentation for ReadtheDocs
  .github/dependabot.yml
  .gitignore
  .readthedocs.yaml
  README.md
  docs/.gitignore
  docs/.sphinx/requirements.in
  docs/conf.py
  docs/doxygen/Doxyfile
  docs/license.rst
  docs/sphinx/_toc.yml.in
  docs/sphinx/requirements.in
  docs/sphinx/requirements.txt
Owners: @cgmillette, @bragadeesh, @mkarunan, @dlangbe, @congma13, @afanfa, @saadrahim, @LisaDelaney

Standardize documentation for ReadtheDocs (#176)
  .github/dependabot.yml
  .gitignore
  .readthedocs.yaml
  README.md
  docs/.gitignore
  docs/.sphinx/requirements.in
  docs/conf.py
  docs/doxygen/Doxyfile
  docs/license.rst
  docs/sphinx/_toc.yml.in
  docs/sphinx/requirements.in
  docs/sphinx/requirements.txt
Owners: @cgmillette, @bragadeesh, @mkarunan, @dlangbe, @congma13, @afanfa, @saadrahim, @LisaDelaney

Standardize documentation for ReadtheDocs (#176)
  .github/dependabot.yml
  .gitignore
  .readthedocs.yaml
  README.md
  docs/.gitignore
  docs/.sphinx/requirements.in
  docs/conf.py
  docs/doxygen/Doxyfile
  docs/license.rst
  docs/sphinx/_toc.yml.in
  docs/sphinx/requirements.in
  docs/sphinx/requirements.txt
Owners: @cgmillette, @bragadeesh, @mkarunan, @dlangbe, @congma13, @afanfa, @saadrahim, @LisaDelaney

Update README.md
  README.md
Owners: @saadrahim, @LisaDelaney

Update README.md
  README.md
Owners: @saadrahim, @LisaDelaney

Change dash to asterisck in README.md
  README.md
Owners: @saadrahim, @LisaDelaney

Change the README.md
  README.md
Owners: @saadrahim, @LisaDelaney

Fix tyop and format issue in README
  README.md
Owners: @saadrahim, @LisaDelaney

Change the README.md
  README.md
Owners: @saadrahim, @LisaDelaney

Change dash to asterisck in README.md
  README.md
Owners: @saadrahim, @LisaDelaney

Fix tyop and format issue in README
  README.md
Owners: @saadrahim, @LisaDelaney

Update note syntax
  README.md
Owners: @saadrahim, @LisaDelaney

Apply suggestions from code review of README.md
  README.md
Owners: @saadrahim, @LisaDelaney

Update READMY.md
  README.md
Owners: @saadrahim, @LisaDelaney

Apply suggestions from code review of README.md
  README.md
Owners: @saadrahim, @LisaDelaney

Update READMY.md
  README.md
Owners: @saadrahim, @LisaDelaney

Update note syntax
  README.md
Owners: @saadrahim, @LisaDelaney

Move to monospaced text from code plus minor fixes in documentation
  docs/Contributors_Guide.rst
  docs/Linux_Install_Guide.rst
  docs/Programmers_Guide.rst
Owners: @saadrahim, @LisaDelaney

Move to monospaced text from code plus minor fixes in documentation
  docs/Contributors_Guide.rst
  docs/Linux_Install_Guide.rst
  docs/Programmers_Guide.rst
Owners: @saadrahim, @LisaDelaney

Add API changes
  library/include/hiptensor/internal/hiptensor_utility.hpp
  library/src/contraction/contraction_cpu_reference_impl.hpp
  library/src/contraction/contraction_cpu_reference_instances.cpp
  library/src/contraction/contraction_pack_util.hpp
  library/src/contraction/contraction_solution_instances.cpp
  library/src/contraction/device/CMakeLists.txt
  library/src/contraction/device/device_contraction_bilinear_complex.hpp
  library/src/contraction/device/device_contraction_bilinear_m2_n2_k2_xdl_c_shuffle_cf32_cf32_cf32_cf32_kknn_instance.cpp
  library/src/contraction/device/device_contraction_scale_complex.hpp
  library/src/contraction/device/device_contraction_scale_m2_n2_k2_xdl_c_shuffle_cf32_cf32_cf32_kkn_instance.cpp
  library/src/data_types.cpp
  library/src/hiptensor.cpp
  library/src/include/data_types.hpp
  library/src/include/data_types_impl.hpp
  samples/01_contraction/CMakeLists.txt
  samples/01_contraction/simple_bilinear_contraction_cf32_cf32_cf32_cf32_compute_f32.cpp
  samples/01_contraction/simple_scale_contraction_cf32_cf32_cf32_compute_f32.cpp
  test/00_unit/yaml_test.cpp
  test/01_contraction/contraction_test.cpp
  test/device/common.hpp
  test/llvm/yaml_parser_config.cpp
Owners: @cgmillette, @bragadeesh, @mkarunan, @dlangbe, @congma13, @afanfa

Add API changes
  library/include/hiptensor/internal/hiptensor_utility.hpp
  library/src/contraction/contraction_cpu_reference_impl.hpp
  library/src/contraction/contraction_cpu_reference_instances.cpp
  library/src/contraction/contraction_pack_util.hpp
  library/src/contraction/contraction_solution_instances.cpp
  library/src/contraction/device/CMakeLists.txt
  library/src/contraction/device/device_contraction_bilinear_complex.hpp
  library/src/contraction/device/device_contraction_bilinear_m2_n2_k2_xdl_c_shuffle_cf32_cf32_cf32_cf32_kknn_instance.cpp
  library/src/contraction/device/device_contraction_scale_complex.hpp
  library/src/contraction/device/device_contraction_scale_m2_n2_k2_xdl_c_shuffle_cf32_cf32_cf32_kkn_instance.cpp
  library/src/data_types.cpp
  library/src/hiptensor.cpp
  library/src/include/data_types.hpp
  library/src/include/data_types_impl.hpp
  samples/01_contraction/CMakeLists.txt
  samples/01_contraction/simple_bilinear_contraction_cf32_cf32_cf32_cf32_compute_f32.cpp
  samples/01_contraction/simple_scale_contraction_cf32_cf32_cf32_compute_f32.cpp
  test/00_unit/yaml_test.cpp
  test/01_contraction/contraction_test.cpp
  test/device/common.hpp
  test/llvm/yaml_parser_config.cpp
Owners: @cgmillette, @bragadeesh, @mkarunan, @dlangbe, @congma13, @afanfa

Add compute types
  library/src/contraction/contraction_solution_instances.cpp
  library/src/contraction/device/device_contraction_scale_m2_n2_k2_xdl_c_shuffle_cf32_cf32_cf32_kkn_instance.cpp
Owners: @cgmillette, @bragadeesh, @mkarunan, @dlangbe, @congma13, @afanfa

Add compute types
  library/src/contraction/contraction_solution_instances.cpp
  library/src/contraction/device/device_contraction_scale_m2_n2_k2_xdl_c_shuffle_cf32_cf32_cf32_kkn_instance.cpp
Owners: @cgmillette, @bragadeesh, @mkarunan, @dlangbe, @congma13, @afanfa
