Repository ROCm/hipTensor, pull requests merged in 2024-04, with the labels that each got.

#208 Use custom env for RTD
  .readthedocs.yaml
  docs/environment.yml
  docs/sphinx/requirements.in
  docs/sphinx/requirements.txt
Labels: documentation, dependencies, ci:docs-only

#212 Cherry pick docs reorg changes for 6.1.0
  .wordlist.txt
  docs/Contributors_Guide.rst
  docs/Linux_Install_Guide.rst
  docs/Programmers_Guide.rst
  docs/api-reference.rst
  docs/contributors-guide.rst
  docs/index.rst
  docs/installation.rst
  docs/programmers-guide.rst
  docs/sphinx/_toc.yml.in
  docs/what-is-hiptensor.rst
Labels: documentation, noCI, ci:docs-only

#217 Update version number and changelog updates for ROCm 6.2
  CHANGELOG.md
  CMakeLists.txt
Labels: ci:docs-only

#211 Update docs
  .wordlist.txt
  CMakeLists.txt
  README.md
  docs/api-reference.rst
  docs/contributors-guide.rst
  docs/installation.rst
  docs/programmers-guide.rst
  docs/what-is-hiptensor.rst
  library/include/hiptensor/hiptensor.hpp
  library/include/hiptensor/hiptensor_types.hpp
  library/include/hiptensor/internal/hiptensor-version.hpp.in
  library/src/data_types.cpp
  library/src/include/data_types_impl.hpp
  samples/CMakeLists.txt
  test/02_permutation/CMakeLists.txt
Labels: documentation, ci:docs-only
